{% extends "base.html" %}
{% block form %}
    <form action="{{ url_for('Login') }}" method=POST>
        <dt>{{ form.username(placeholder="Username") }}</dt>
        <dt>{{ form.password(placeholder="Password") }}</dt>
        <input type="submit" value="Login"/>
    </form>
{% endblock %}