{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Register</h1>
        <form class="form-grou[" action="{{ url_for('Register') }}" method=POST>
            <dd>{{ form.firstname(class="form-control", placeholder="firstname") }}</dd>
            <dd>{{ form.lastname(class="form-control", placeholder="lastname") }}</dd>
            <dd>{{ form.username(class="form-control", placeholder="username") }}</dd>
            <dd>{{ form.email(class="form-control", placeholder="email") }}</dd>
            <dd>{{ form.password(class="form-control", placeholder="password") }}</dd>
            <dd>{{ form.confirm(class="form-control", placeholder="confirm") }}</dd>
            <input class="btn btn-info" type="submit" value="Register"/>
        </form>
    </div>
{% endblock %}