/* @keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
} */

@keyframes ShrinkEnroundSpin {
    0% {border-radius:0px; transform: scale(1,1) rotate(0deg);}
    100% {border-radius:55px; transform: scale(3,3) rotate(360deg);}
}

@keyframes shrink {
    0% {width: 75px; height: 75px;}
    100% {width: 75px; height: 75px;}
}

@keyframes SlideInFromLeft {
    0% {left:-2000px;}
    100% {left: 0px;}
}

@keyframes SlideInFromLeftToCenter {
    0% {left:-2000px;}
    100% {left: calc(50% - 1em)}
}


@keyframes SlideOutRight {
    0% {left:0;}
    100% {left: 2000px;}
}

@keyframes SlideInBottom {
    0% {bottom:-2000px;}
    100% {bottom: 0px;}
}
@keyframes SlideOutTop {
    0% {bottom:0px;}
    100% {bottom:2000px;}
}

@keyframes Wiggle {
    0% {padding-left:0px;}
    10% {padding-left:10px;}
    20% {padding-left:0px;}
    30% {padding-left:10px;}
    40% {padding-left:0px;}
    50% {padding-left:10px;}
    60% {padding-left:0px;}
    70% {padding-left:10px;}
    80% {padding-left:0px;}
    90% {padding-left:10px;}
    100% {padding-left:0px;}

}