#headerNav {
    background-color: rgba(10, 82, 150, 0.438);
    color: white;
}
#headerNav a{
    color: white;
}

#surveyLink {
    position: fixed;
    margin: auto;
    top: calc(50% - 1em);
    bottom: calc(50% - 1em);
    left: calc(50% - 1em);
    right: calc(50% - 1em);
    animation: SlideInFromLeftToCenter 2s ease;
}
#surveyButton {
    width: 100px;
    height: 100px;
    text-align: center;
    background-image: url('/static/images/logo.svg.png');
    animation: ShrinkEnroundSpin 2s ease;
    transform: scale(3,3);
    font-size: 12px;
    line-height: 1.33;
    border-radius: 55px;
    /* animation:  spin 2s linear infinite; */
    
}

#bottomBar {
    background-color: rgba(10, 82, 150, 0.438);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.profImage {
    height: 240px;
    width: 240px;
}
.slider-wrapper {
    width: 100%;
}

.slider-wrapper input {
    width: 100%;
}

.loader {
    border: 16px solid lightgray;
    border-top: 16px solid #3498db;
    border-radius: 60%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 1000;
    position: fixed;
    left: calc(50% - 1em);
    top: calc(50% - 1em)
}

.wiggle:hover {
    left: 0;
    animation: Wiggle 1s linear;
}

.slideInLeft {
    left: 0;
    animation: SlideInFromLeft 2s ease;
}

.slideInBottom {
    bottom: 0;
    animation: SlideInBottom 1.5s ease-out;
}
.slideOutRight {
    left: 2000px;
    animation: SlideOutRight 2s ease;
}
.slideOutTop {
    bottom: 2000px;
    animation: SlideOutTop 2s ease;
}
#AboutSite {
    height: 240px;
    background-color:white;
    color:#000000;
    overflow-y: scroll;
}

#AS, #AM, #AD {
    display: none;
}

#AboutMe {
    height: 240px;
    background-color:black;
    color:white;
    overflow-y: scroll;
}

#AboutData {
    height: 240px;
    background-color:white;
    color:#000000;
    overflow-y: scroll;
}

#LOGO {
    height: 64px;
    width: 64px;
    border-radius: 50%
}