{% extends "base.html" %}
{% block content %}
    <div id="subForm" class="container slideInBottom">
        <br>
    {% if demo %}
        <div class="card">
            <div class="row card-block">
                <h4 class="card-title">Current Demographic Profile</h4>
                <hr>
                {% with attributes = [('Age', 'age')
                    , ('Gender', 'gender')
                    , ('Profession', 'profid')
                    , ('Wage', 'wage')
                    , ('Preferred Wage', 'preferredWage')
                    , ('City', 'city')
                    , ('State', 'state')
                    , ('Location', 'location')
                    ] %}
                    {% for attrTitle, attr in attributes %}
                        {% if getattribute(demo, attr) %}
                            {% if attr == 'profid' %}
                                <div class=col-6>
                                    <strong>{{ attrTitle }}</strong>: {{ Profession.query.filter_by(id=getattribute(demo, attr)).first().title }}
                                </div>
                            {% elif 'wage' in attr.lower() %}
                                <div class=col-6>
                                    <strong>{{ attrTitle }}</strong>: ${{ getattribute(demo, attr) }}
                                </div>
                            {% else %}
                                <div class=col-6>
                                    <strong>{{ attrTitle }}</strong>: {{ getattribute(demo, attr) }}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if demo.wage and demo.preferredWage %}
                        {% with market_value = demo.wage - demo.preferredWage %}
                            <div class=col-6>
                                <strong>Interal Surplus/Deficit</strong>: 
                                {{ market_value }}
                            </div>
                            {% if market_value < 0 %}
                                <!-- Market gains -->
                                <div class=col-6>
                                    <strong>Market Surplus</strong>: 
                                    {{ absvalue(market_value) }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% endif %}

                {% endwith %}
            </div>
        </div>
    {% endif %}
    <form action="{{ url_for('SubmitDemographics') }}" method=POST>
        <div>
            Age {{ form.age(class="form-control") }}
        </div>
        <div>
            Gender {{ form.gender(class="form-control") }}
        </div>
        <div>
        Occupation* <select name="profid" class="form-control" >
                <option value=0>Select Occupation</option>
                {% for p in sorted_professions() %}
                    {{ p }}
                    <option value={{ p.id|int }}>{{ p.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            How much do you make? {{ form.wage(class="form-control", placeholder="Estimated Wage Per Hour") }}
            <sup>Minimum = {{ form.min_wage }} | Maximum = {{ form.max_wage }}</sup>
        </div>
        <div>
            How much do you feel you should make? {{ form.preferredWage(class="form-control", placeholder="Preferred Wage Per Hour") }}
            <sup>Minimum = {{ form.min_wage }} | Maximum = {{ form.max_wage }}</sup>
        </div>
        <div>
            City/State* {{ form.location(class="form-control") }}
            <sup>If you cannot find your city, please select "Other" or enter it below.</sup>
            {{ form.freeformLocation(class="form-control") }}
        </div>
        <br>
        <input class=btn type="submit" onclick="loading();
        $('#subForm').removeClass('slideInBottom');
        $('#subForm').addClass('slideOutTop');
        "/>
    </form>
</div>
{% endblock %}