{% extends "base.html" %}
{% block content %}
<div id="myForm" class="container slideInLeft">
    <img url="{{ profession.image_url }}" />
    <div>
        <h1><a href="{{ profession.bls_url }}" target="_">{{ profession.title }}</a></h1>
        {% if profession.img_url %}
            <img class=profImage url="{{ profession.img_url|safe }}" />
        {% endif %}
        <div>
            {{ profession.description }}
        </div>
    </div>
    <hr>
    <form action="{{ url_for('SubmitValuation', profid=profession.id, responded=responded) }}" method="POST">
            <div class="slider-wrapper">
                <h4 align=center>What proportion of this occupation's responsiblities do you think can and should be automated?</h4>
                <p align=center><span>&#8592;</span>Less - <span id="automationValue"></span> - More<span>&#8594;</span></p>
                {{ form.automationPreference(id="automationInput", class="form-control", min=0, max=10, step=0.1, value=0) }}
            </div>
            <br>
            <div>
                <div align=center>
                    What do you think is an <span style="color:green">ideal wage rate</span> for <strong style="color:black">{{ profession.title }}</strong> services, robotic or not?<br>
                    {{ form.valuation(class="form-control", placeholder="Per hour wage") }}
                </div>
                <sup class="col-6">Minimum = {{ form.min_wage }}</sup>
                <sup class="col-6">Maximum = {{ form.max_wage }}</sup>
            </div>
            <br>
            <div>
                <div align=center>
                    <h4>Other thoughts on the occupation?</h4>
                    {{ form.freeformResponse(class="form-control") }}
                </div>
                <sup>Feel free to share your specific feelings towards this occupation here.<br>*500 characters or less</sup>
            </div>
            <br>
            <input class="btn" style="border-radius: 35%;" type="submit" id="submit" value="Rate"/>
    </form>
    <hr>
    <div>
        A you a <strong>{{ profession.title }}</strong>?<br>
        Care to provide your demographic details anonymously as well as share why you think this job <em>shouldn't</em> be automated?<br>
        <a href="{{ url_for('MyDemographics') }}">Go here</a>
        <br><br>
    </div>
    <script>
        window.addEventListener("load", function() {
            var autoInput = $("#automationInput"),
                autoValue = $("#automationValue")
            ;
            autoValue.html(autoInput.prop("value"));
            autoInput.on("input", function() {
                autoValue.html(Math.round(autoInput.prop("value")*10) + "%");
            });

            $("#submit").on('click', function() {
                $('#myForm').removeClass('slideInLeft');
                $('#myForm').addClass('slideOutRight');
                loading();
            });
        })
    </script>
</div>
{% endblock %}