{% extends "base.html" %}
{% block content %}

<div id="AboutSite">
    <div id="AS" class="container">
        <h4 class="wiggle" slideInLeft>About</h4>
        <p>
            Do other people actually want other jobs automated?<br>
            That is the question this engine is seeking to gather data on<br>
            Essentially, this site is a bit like Tinder for Trade. Instead of swiping left though, it'd be nice to get more details.<br>
            At your own bequest, rate how much you prefer humans performing various jobs. Give your economic valuation of them.<br>
            Then, if you would kindly, share your own details<br>
            Share this link around <a href="http://bit.ly/2Ahvz20">http://bit.ly/2Ahvz20</a>.
        </p>
        <h5>Plans?</h5>
        <p>I've got a few things I'd like to do with this.</p>
        <ul>
            <li>Bug free - It's nice to get rid of bugs.</li>
            <li>User Logins - Incorporate usage with current architecture.</li>
            <li>Data Analytics - I've got a few examinations in the context of Economics I'd like to make.</li>
            <li>Suggestions? Questions? Recommendations? If you have any, please send over an email to <a href="mailto:contact.quentinh@gmail.com">Gmail</a> or contact me via Social Media.</li>
        </ul>
    </div>
</div>
<div id="AboutMe">
    <div id="AM" class=container>
        <div class=row>
                <h4 class="col-2 wiggle">About Me</h4>
                <a class=col-2 href="https://stackoverflow.com/users/5252522/q-holness" target="_">Stack Exchange</a>
                <a class=col-2 href="github.com/qholness" target="_">Github</a>
                <a class=col-2 href="#" target="_">@HariboFriend</a>
                <a class=col-2 href="https://www.linkedin.com/in/qholness">LinkedIn</a>
            </div>
        <p>
            First, Thank You for visiting!<br><br>
            I am an Software Engineer currently living in Utah.<br>
            I enjoy developing, designing and deploying web applications and have had interest in survey engines for a while<br>
            My research interests are Public Transportation, Urban Planning and Crime. Basically, I got excited by The Wire<sup>Best show ever</sup> and haven't come down since.<br>
            My specialties are Web Development, Database Administration, Software Engineering and Statistical research.
            I'm working on this application to answer the question detailed above. It is a topic that has been bothering me...
            <br><br>
            Working in the tech space, you experience the highest of condescension. In particular, the future of automating the Human Workforce<br>
            I am not in disagreement with the notion, in fact, I'm glad to work towards that. But far too often, I frequently hear "We'll automate EVERYONE"<br>
            without any sort of justification. Me, being the skeptic, chose to dig a bit deeper and examine what Economic World agrees with that statement.<br>
            For many humans, our work is personal; something that we cherish. For others, meh.<br>
            <br>
            Based on Economic principles of basic trade, I question a lot of changes in value exchange. The reason I agree with the "automate everything" notion is<br>
            because, to a degree, every operation humans perform is an informational transaction between two or more actors.<br>
            <br>
            What do I mean by that?<br><br>
            I mean, consider eating. We normally wouldn't consider that an informational transaction in the sense of gaining stock tips but, biologically,<br>
            eating sends various units of energy into the body and causes chemical reactions. In a way, we want computers to do the same thing but in spaces where they traditionally didn't.<br>
            <br>
            I'd like to explore opinion on the matter a bit more and not just my own or another techies.<br>
        </p>
    </div>
</div>
<div id="AboutData">
    <div id="AD" class=container>
        <h4 class="wiggle">Data Collection Details</h4>
        <p>
            This site collects the following data and uses it in the associated fashions:
            <dl>
                <dt>IP Address</dt>
                <dd>You public IP address is saved so that your survey results are tracked. Your address is encrypted in the database. Our admins don't even know it.</dd>
                <dd>So long as you are accessing this site from the same IP, the site will keep track of your data.</dd>
                <dd>User logins are a work in progress</dd>

                <dt>Occupation Opinion Data</dt>
                <dd>As an opinion survey, the results are non-scientific but may be of interest for individuals seeking to automate or fight automation of various professions.</dd>

                <dt>Demographic Data (Entirely optional)</dt>
                <dd>
                    This data includes:
                    <ul>
                        <li>Age</li>
                        <li>Gender</li>
                        <li>Profession (most-desired)</li>
                        <li>Wage</li>
                        <li>City/State</li>
                    </ul>
                </dd>

                <dt>Economic data</dt>
                <dd>The data is anonymous but with enough participation, we can start to see Economic topology, preferences and trends emerge.</dd>
            </dl>
        </p>
    </div>
</div>
<script>
    // $(window).load(function() {
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function addSlideIn() {
            var divs = ["AS", "AM", "AD"];
            for (let idx = 0; idx < divs.length; idx++) {
                const element = divs[idx];
                $("#" + element).css('display', 'block');
                $("#" + element).addClass("container");
                $("#" + element).addClass("slideInBottom");
                await sleep(150);
            }
        }
        addSlideIn();
    // })
</script>
{% endblock %}