<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.svg.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Jquery -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
    <!-- Tether.js -->
    <script src="{{ url_for('static', filename='js/tether-1.3.3/dist/js/tether.js') }}"></script>

    <!-- Bootstrap 4.0.0-alpha6 -->
    <link rel="stylesheet" type="text/css" 
        href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}" />
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>

    <!-- D3.js -->
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->

    <!-- Bokeh -->
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.11.min.css"
        rel="stylesheet" type="text/css">
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.11.min.css"
        rel="stylesheet" type="text/css">
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.11.min.css"
        rel="stylesheet" type="text/css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.11.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.11.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.11.min.js"></script>
    
    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" 
    href="{{ url_for('static', filename='css/animations.css') }}" />
    <link rel="stylesheet" type="text/css" 
    href="{{ url_for('static', filename='css/custom.css') }}" />
    <script src="{{ url_for('static', filename='js/loading.js') }}"></script>
    <title>
        {% if title %}
            {{ title }}
        {% else %}
            Disappearing Amy
        {% endif %}
    </title>
</head>
<body>
    {% with msgs = get_flashed_messages(with_categories=True) %}
        {% if msgs %}
            {% for cat, m in msgs %}
                <div class="alert alert-{{ cat }} alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ m }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% include "navbar.html" %}
    {% block content %}
    {% endblock %}
    <br><br>
    {% include "bottomBar.html" %}
</body>
</html>