<div id="bottomBar">
    <div class=row>
        <div class="col-6 btn-group dropup">
            <button 
                type="button"
                class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                Site Stats
            </button>
            <ul class="dropdown-menu">

                <li class="dropdown-item">
                    Visitors: {{ visitorCount() }}
                </li>

                <li class="dropdown-item">
                    Demographics Gathered: {{ demographicsGathered() }}
                </li>

                <li class="dropdown-item">
                    Automation Occupation Ratings: {{ ratingCount() }}
                </li>

                <li class="dropdown-item">
                    Professions Rated: {{ professionCount() - availableRatings() }}/{{ professionCount() }}
                </li>

                <li class="dropdown-item">
                    Articles Mentioning Automating All The Jobs: {{ artCount() }}
                </li>
                
            </ul>
        </div>
        <div class=col-6>
            {% if session.get("userid") %}
                Logged in as {{ session["userid"] }}
            {% endif %}
        </div>
    </div>
</div>