{% extends "base.html" %}
{% block content %}
    <div id="surveyLink">
        <a class="nav-link" href="{{ url_for('Rate') }}">
            <button id="surveyButton">
                <strong>Automate or Not?</strong>
            </button>
        </a>
    </div>
{% endblock %}