<nav id="headerNav" class="navbar navbar-toggleable-md navbar-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"  href="{{ url_for('Rate') }}">
        <img id="LOGO" src="{{ url_for('static', filename='images/logo.svg.png') }}" />
    </a>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('SelectOccupationToRate') }}">Rate Occupation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('MyDemographics') }}">Demographics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('About') }}">About</a>
            </li>
            {% if not session.get("logged_in") %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('RegisterPage') }}">Register</a>
                </li>
                {% if "regist" not in request.path.lower() %}
                    <li class="nav-item">
                        <form action="{{ url_for('login') }}" method=POST class="form-inline">
                            {{ loginForm.username(class="form-control mr-sm2") }}
                            {{ loginForm.password(class="form-control mr-sm2") }}
                            <button class="btn" type="submit">Login</button>
                        </form>
                    </li>
                {% endif %}
            {% else %}
                <li id="logout" class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>