{% extends "base.html" %}
{% block content %}
    <div class=row>
        {% for p in sorted_professions() %}
            <div class=col-3>
                <a href="{{ url_for('RateProfession', profid=p.id, responded=0) }}">{{ p.title }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}